@import '../common.module.scss';

:global(.textareaContent) {
    width: 100%;
    padding-left: $p2;
    padding-right: $p2;
    border: none;
    outline: none;
    resize: none;
    max-height: calc(70vh - 30px - $p1 - $p1);
    line-height: 1.5rem;
    font-size: 1rem;
}

.textareaSample {
    position: absolute;
    width: 566px;
    left: -1000%;
    font-size: 1rem;
    line-height: 1.5rem;
}
