.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signTab {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.signCard {
    padding: 32px;
    max-width: 600px;
}