@import '../common.module.scss';

.baseInput {
    width: 100%;
    padding: $defaultPadding;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
}

.titleMode {
    border-radius: 8px;
    font-size: 1.375rem;
    font-weight: 500;
}
