.container {
    position: relative;
    width: 752px;
    height: 500px;
    margin: 0 auto;

    @media (max-width: 780px) {
        width: 496px;
    }

    @media (max-width: 530px) {
        width: 240px;
    }
}
